.left{
	width:300px;
	float:left;
	/*padding-top: 50px;*/
}
.left .group{
	height: 60px;
	vertical-align: middle;
	padding: 10px;
	border: 1px solid #e48F00;
	background: #92b5c8;
	font-weight: bolder;
}
.left .group_clone{
	height: 50px;
	background: #005c85;
	font-weight: bolder;
}
.left .group:last-child{
	border: 1px solid #e48F00;
}
.right{
	width:1020px;
	float:left;
	overflow-x:auto;
}
.time_input{
	display: inline;
}
.time_input input{
	line-height: 15px;
	width: 35px;
}
#time_head{
}
#time_head ul{
	margin-bottom: 0;
}
#time_head ul li{
	list-style: none;
	display: table-cell;
	margin: 0;
	padding: 5px;
	min-width: 80px;
	max-width: 80px;
	background: #005c85;
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 40px;
	text-align: center;
	color:#fff;
	font-weight: bold;
}

#content{
	
}
#content div.line{
	padding-left:39px;
	background: url('../images/bg.png');
	border: 1px solid #e48F00;
	height: 60px;
	padding-top: 2px;
	padding-bottom: 2px;
}
#content div.line .time{
	background: #777;
	height:40px !important;
	margin-top: 7px;
	display: inline-block !important;
	margin-left: 2px;
	overflow: hidden;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#ddd;
	min-width: 10px !important;
}
#content div.line .time img.icon{
	width: 25px;
	height: 25px;
	margin-top: 7px;
	margin-left: 5px;
	margin-right: 5px;
}