body{
			background-color:#B2D0E2 ;
			overflow: auto;
		}
		*{
			font-size: 12px;
			font-family: arial;
		}
		.btn{
			padding-right: 8px;
			padding-left: 8px;
		}
		.link{
			cursor: pointer;
		}
		.header{
			position: fixed;
			width:100%;
			background:#fff;
			height:141px;
			z-index: 3;
		}
		
		.nav-tabs{
			margin-top: 10px;
		}
		.tab-content > .active{
			border: 1px solid #ddd;
			border-top:0;
			padding: 10px
		}
		.nav-tabs > li > a{
			padding: 5px;
			font-size: 13px;
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			border: 1px solid #ddd;
			background: #ffffff;
			background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
			background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
			background-image: -ms-linear-gradient(top, #ffffff, #dddddd);
			background-image: -o-linear-gradient(top, #ffffff, #dddddd);
			background-image: linear-gradient(to bottom, #ffffff, #dddddd);
		}
		.nav-tabs > li.active > a{
			font-weight: bold;
			background: #fff;
		}
		.nav-tabs > li > a:hover{
			background: #fff;
		}
		.nav-tabs > li:not(:first-child){
			margin-left: 5px;
		}
		.tab-content > .active{
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		.tab-pane .row .group_content:not(:first-child){
			border-left:1px solid #ddd;
			height: 80px;
			padding-left:15px;
			margin-left:15px;
		}
		.tab-pane .row > .group_content:first-child{
			margin-left:20px;
		}
		.tab-pane .row .group_content{
			float:left;
			width: auto;
		}
		.tab-pane .group_content .title{
			font-weight: bold;
		}
		.tab-pane .group_content .content .line{
			margin-top: 5px;
		}
		.tab-pane .group_content .content .line input:not(:first-child),
		.tab-pane .group_content .content .line select:not(:first-child),
		.tab-pane .group_content .content .line > .glyphicon:not(:first-child),
		.tab-pane .group_content .content .line .btn-group:not(:first-child),
		.tab-pane .group_content .content .line > button.btn:not(:first-child){
			margin-left:10px;
		}
		.tab-pane .group_content .content .line .btn-lg:not(.dropdown-toggle){
			width: 52px;
		}
		.tab-pane .group_content .content .line .btn-lg.dropdown-toggle{
			height: 54px;
		}
		.btn-group > .btn-lg + .dropdown-toggle{
			padding-left: 5px;
			padding-right: 5px;
		}

		.form-control-small{
			padding: 3px;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			border-radius: 4px;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
			-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
			-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		}
		.color_picker{
			width: 25px;
			padding: 0;
			position: absolute;
			margin-left:3px;
			border-radius: 4px;
		}
		.color_picker::after{
				content: "▼";
				font-size: 7px;
				position: absolute;
				right: 1px;
				top: 10px;
				background-color: #eee;
				padding-bottom: 0px;
		}
		.color_picker::-webkit-color-swatch-wrapper {
	        padding: 0;
	    }
	    .color_picker::-webkit-color-swatch {
			border-color: #ddd;
			border-radius: 4px;
			padding: 0;
		}
		.input_file span.btn{
			max-width: 220px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.input_file input[type=file]{
			visibility: hidden;
			width:1px;
		}
		
		.btn-icon{
			width: 32px;
			height: 32px;
		}
		.footer{
			position: fixed;
			bottom: 0;
			width:100%;
			height: 40px;
			background:#fff;
			z-index: 2;
		}
		.footer .container{
			height:30px;
			padding-bottom: 0;
			padding-top: 0;
		}
		.footer .container .footer_content:not(:first-child){
			border-left:1px solid #ccc;
		}
		.footer .container .footer_content{
			float:left;
			display: block;
			height: 55px;
			padding:5px 10px;
			border: 1px solid #ddd;
		}
		#position{
			font-weight: bold;
			text-align: left;
			line-height: 40px;
		}
		.input_range{
			display: inline-block;
		}
		.input_range input[type="range"]{
			display:inline-block;
			width: 160px;
			height: 10px;
		}
		.input_range input[type="text"]{
			display:inline-block;
			width: 40px;
			font-weight: bold;
			line-height: 24px;
		}
		.body{
			position: relative;
			width: 100%;
			top:146px;
			padding: 5px;
			float: left;
			padding-bottom: 50px;
		}
		#layout{
			margin-left: auto;
			margin-right: auto;
			background: #fff;
		}