body{
  overflow: hidden;
}
.default_frame{
  position:fixed; 
  top:0px; 
  left:0px; 
  bottom:0px; 
  right:0px; 
  width:100%; 
  height:100%; 
  border:none; 
  margin:0; 
  padding:0; 
  overflow:hidden;
}
.display_channel{
  position: absolute;
  overflow: hidden;
}
.fullcsreen_bt{
  position: absolute;
  top:48%;
  left: 30%;
  width: 40%;
  z-index: 1500;
  font-size: 20px;
  line-height: 40px;
  opacity: 0.7;
  border-radius: 15px;
  background: -webkit-linear-gradient(#ddd, #999); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ddd, #999); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ddd, #999); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ddd, #999); /* Standard syntax */
}
.fullcsreen_bt:hover{
  opacity: 1;
}

.test_time{
  position: absolute;
  top:1%;
  right:1%;
  z-index: 1500;
}
.clock_time{
  position: absolute;
  bottom:1%;
  right:1%;
  z-index: 1500;
}
.slide_show figure{
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
}
.slide_show figure.show{
  opacity: 1;
  position: static;
  transition: 1s opacity;
}

.text_move{
  width: 1600px;
  height: 760px;
  top: 0;
  left: 0;
  z-index: 100;
}
.text_move figure{
  z-index: 100;
  position: absolute;
}

.hasborder{
  border: 1px solid #ddd;
}

.loadingbox{
  position: absolute;z-index: 99999;background-color: #ddd;width: 1600px;height: 800px;opacity: 0.6;text-align: center;font-size: 50px;line-height: 600px;color: #000;
}

.container_rotate_90{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.container_rotate_90_negative{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}